<div class="container-calendar">
    <div class="content-calendar">
        <div class="head-calendar">

        <button (click)='cambiarMes(false)'>
            <svg xmlns="http://www.w3.org/2000/svg" height="35px" viewBox="0 0 24 24" width="35px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none" opacity=".87"/>
            <path d="M17.51 3.87L15.73 2.1 5.84 12l9.9 9.9 1.77-1.77L9.38 12l8.13-8.13z"/></svg>
        </button>
        
        <div class="title-calendar" style="text-transform: capitalize;">
            <h1 #mesh2 class="animate__animated">{{mesActual}}</h1>
            <h2 #anioh2 class="animate__animated">{{anioActual}}</h2>
        </div>

        <button (click)='cambiarMes(true)'>
            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="35px" viewBox="0 0 24 24" width="35px" fill="#000000"><g><path d="M0,0h24v24H0V0z" fill="none"/></g><g><polygon points="6.23,20.23 8,22 18,12 8,2 6.23,3.77 14.46,12"/></g></svg>
        </button>

        </div>
        <hr>
        <br>
        <div class="calendar">   
            <h2 *ngFor="let dia of diasSemana">{{dia}}</h2>
            <div #daysList id= {{itemf}} class="day dayFill" *ngFor="let itemf of fillDias">
                <h1>{{itemf}}</h1>
            </div>
            <div #daysList id= {{item}} class="day" *ngFor="let item of dias">
                <h1>{{item}}</h1>
            </div>
        </div>
        <div class="footer-calendar">
            <h3>Hoy</h3>
            <br>
            <div style="display: flex; justify-content: space-between;">
                <h2>{{fechaActual}}</h2>
                <h2>{{horaCorriendo}}</h2>
            </div>
    
        </div>

    </div>
</div>
